/* General Styles */
.about-container {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #fff;
  padding: 20px;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}

.contact-button:hover {
  background-color: #0056b3;
}

/* Hero Section */
.hero-section {
  text-align: center;
  margin: 40px 0;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  color: #555;
}

.mission-section, .story-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.mission-section h2, .story-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.mission-section p {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-left: 50px;
}

.story-section p {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-right: 50px;
}

.image-container {
  margin-top: 20px;
  margin-left: 400px;
}

.image-container1 {
  margin-top: 20px;
  margin-right: 400px;
}

.image-container img {
  height: 450px;
  width: 450px;
  border-radius: 10px;
  margin-right: 50px;
}

.image-container1 img {
  height: 450px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .mission-section h2, .story-section h2 {
    font-size: 1.5rem;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .content-section {
    padding: 10px;
  }
}
